
.addNotification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: groove;
  border-radius: 5px;
}

.deleteNotification {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: groove;
  border-radius: 5px;
}

.updateNotification {
  color: blue;
  background: lightgrey;
  font-size: 20px;
  border-style: groove;
  border-radius: 5px;
}
